/* Global Reset & Standards ---------------------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { background: white; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }

/* Links ---------------------- */
a img { border: none; }

a { color: #FA5300; text-decoration: none; line-height: inherit; }

a:hover { color: #2795b6; }

a:focus { color: #2795b6; }

p a, p a:visited { line-height: inherit; }

/* Misc ---------------------- */
.left { float: left; }

.right { float: right; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.hide { display: none; }

.hide-override { display: none !important; }

.highlight { background: #ffff99; }

/* Reset for strange margins by default on <figure> elements */
figure { margin: 0; }

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; direction: ltr; }

p { font-family: inherit; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }

aside p { font-size: 13px; line-height: 1.35; font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-weight: bold; background: #ffff99; }

/* Lists ---------------------- */
ul, ol, dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

ol { margin-left: 20px; }
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }

/* Blockquotes ---------------------- */
blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }

blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 13px; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555555; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }

abbr { text-transform: none; }

/* Tables ---------------------- */
table { background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd; }
table thead, table tfoot { background: #f5f5f5; }
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td { display: table-cell; font-size: 14px; line-height: 18px; text-align: left; }
table thead tr th, table tfoot tr td { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222; }
table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }
table tbody tr.even, table tbody tr.alt { background: #f9f9f9; }
table tbody tr:nth-child(even) { background: #f9f9f9; }
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

form {
    display: block;
    margin-top: 0em;
}

/* Layout ---------------------- */
body {background: #000 url(../images/bg.jpg) top center no-repeat; color: #888;}
header {height:260px;}
header h1 {text-indent: -9999px;}
article header {height:100%;}
nav { height: 57px; margin-left: 0; margin-top: 20px; padding: 0; }
nav > ul {margin:0px; }
nav li { float: left; display: block; position: relative;line-height: 57px;font-size: 20px;font-weight: 600; padding: 0; margin: 0 20px 0 0;}
nav li a {color: #acacac;padding:13px 10px;}
nav li a:hover {border-top:4px solid #FA5300;color:#fff;}
#breadcrumbs { clear:both; height: 35px; font-weight: bold; color: #797979;font-size: 12px; }
#breadcrumbs > ul {margin:0px;}
#breadcrumbs li { float: left; display: block; position: relative;font-size: 12px; padding: 0; margin: 0 10px 0 0; line-height: 35px; }
#breadcrumbs span {display: block;float: right;line-height: 35px;padding-right:30px;}

#searchbox { float:right; height: 40px; }
#searchbox #search{
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    margin: 15px 0 0 0;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px; }
#searchbox #search:focus{outline: 0;background: #fff;box-shadow: 0 0 2px rgba(0,0,0,.8) inset;}
#searchbox #search::-webkit-input-placeholder {color: #999;font-weight: normal;font-style: italic;}
#searchbox #search:-moz-placeholder {color: #999;font-weight: normal;font-style: italic;}
#searchbox #search:-ms-input-placeholder {color: #999;font-weight: normal;font-style: italic;}
#searchbox #submit{
    overflow: visible;
    position: relative;
    float: right;
    margin: 15px 0 0 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #FA5300;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);}

#wrapper { background: #fff url(../images/wrap_bg.jpg) top center repeat-y; padding-bottom: 20px;overflow:hidden;}

#content {padding: 0; width: 620px;margin-right:20px;float: left;position: relative; min-height: 1px;}

article header h2 {color:#444;}
article header h4 {font-size: 12px;margin-top: -10px;padding-bottom:15px;border-bottom: 1px solid #ddd;}

a.button {
    background: url(../images/button.gif) repeat-x 0% 0%;
    position: relative;
    display: inline-block;
    height: 26px;
    overflow: hidden;
    padding: 0 10px;
    vertical-align: top;
    line-height: 26px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #fff !important;
    border-radius: 3px; }
a.button:hover { background-position: 0% -26px;  }

#sidebar {
    background: #fff url(../images/side_bg.jpg) top center repeat-y;
    padding: 0 0 0 20px;
    width: 300px;
    float: right;
    position: relative;
    min-height: 1px;}
#sidebar aside {
    background: #232323 url(../images/widget.gif) repeat-x 0% 100%;
    position: relative;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 3px;
    color: #787878;
}

aside h3 {
    background: #101010 url(../images/title.gif) repeat-x 0% 0%;
    position: relative;
    min-height: 29px;
    margin: -20px -20px 13px -20px;
    padding: 3px 0 3px 20px;
    border-bottom:1px solid #2e2e2e;
    border-radius: 3px 3px 0 0;
    line-height: 2em;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

aside ul {margin-left: 10px;margin-bottom: 5px;}

footer {height: 80px;}
footer h4 {margin-left:-20px;}

.row {
    width:980px;
    max-width: 100%;
    min-width: 768px;
    padding:0 20px;
    margin: 0 auto;
}


/* Modules ---------------------- */